/* body */

body {
    font-family: 'Roboto', sans-serif !important;
}

/* background */
.bg-dark-red {
    background-color: #e80000;
}

/* Img Resize */
.resize-mappa-concettuale {
    width: 50%;
    height: 50%;
}

/* Font-Size */
.grandezza-font {
    font-size: 14px;
}

/* color */
.txt-dark {
    color: #000000 !important;
}

.txt-light {
    color: #ffffff;
}

/* a */
a {
    text-decoration: none !important;
}

.link-footer{
    list-style: none;
}

a:hover{
    text-decoration: underline !important;
}

/* text align */
.txt-center {
    text-align: center;
}

/* Classe per creare una scrollbar */
.scrollbar {
        max-height: 390px;
        overflow-y: scroll;
    }

/* ul */

.metadati-item {
    list-style: none;
    padding-left: 0px;
}

/* padding */

.padding-descrizione {
    padding-top: 20%;
}

.padding-leggero-top {
    padding-top: 2%;
}

/* margin */

.margin-leggero-left {
    margin-left: 2%;
}