/* body */

body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
}

/* background */
.bg-dark-red {
    background-color: #e80000;
}

.bg-gray-light {
    background-color: #F1F1F1;
}

/* color */
.txt-dark {
    color: #000000 !important;
}

.txt-light {
    color: #ffffff;
}

/* a */
a {
    text-decoration: none !important;
}

a:hover{
    text-decoration: underline !important;
}

nav a:hover{
    text-decoration: underline;
}

/* text align */
.txt-center {
    text-align: center;
}

/* padding */
.padding-s {
    padding: 1% 2%;
}

.padding-md {
    padding: 3%;
}

/* font-size */
.font-size-l {
    font-size: 30px;
}